APScheduler==3.10.4
blinker==1.7.0
click==8.1.7
flask==3.0.2
gunicorn==21.2.0
HEIC2PNG==1.1.4
importlib-metadata==7.0.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
numpy==1.24.4
packaging==24.0
pillow==10.2.0
pillow-heif==0.15.0
pngquant-cli==2.17.0.post5
pypng==0.20220715.0
pytz==2024.1
qrcode==7.4.2
six==1.16.0
typing-extensions==4.10.0
tzlocal==5.2
werkzeug==3.0.1
zipp==3.18.1