@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  --accent-color: #eda400;
  --accent-color-dark: #6f7d8c;
}

/* Text Selection Color */
::selection {
	background-color: var(--accent-color);
	color: var(--accent-color-dark);
}

::-moz-selection {
	background-color: var(--accent-color);
	color: var(--accent-color-dark);
}


body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

embed {
  pointer-events: none;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.header-counter-text {
  margin-top: 0;
  font-size: 1em;
}

.logo-title h1 {
  margin-bottom: 0;
}


h1 {
  font-size: 24px;
  color: #333;
}

.buttons {
  display: flex;
}

button {
  background-color: #f5f5f5;
  color: #000;
  border: solid 2px #eda400;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-radius: 20px;
}

button:hover {
  background-color: #eda400;
  color: #000;
}

.upload-button {
  background-color: #eda400;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-radius: 20px;
}

.reset-form {
  display: inline;
}

.qr-code {
  text-align: center;
  margin-bottom: 40px;
  justify-content: center;
}

.qr-code img {
  max-width: 400px;
  margin: 10px 0;
  box-shadow: 0 2px 10px var(--accent-color-dark);
  border-radius: 20px;
  transition: 0.5s;
}

.qr-code img:hover {
  box-shadow: 0 2px 30px var(--accent-color-dark);
}

.qr-code-url {
  font-size: 16px;
  color: #666;
}


.uploaded-files {
  margin-top: 20px;
  margin-bottom: 40px;
}

.uploaded-files h2 {
  margin-bottom: 40px;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.file-container .uploaded-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 2px 20px var(--accent-color);
  margin-bottom: 10px;
  transition: 0.5s;
}

.file-container .uploaded-image:hover {
  box-shadow: 0 2px 40px var(--accent-color);
}

.file-placeholder {
  cursor: progress;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.copy-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 15px;
}

a.open-pdf-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 15px;
  margin-left: 10px;
  font-size: .9rem;
}

.copy-button.disabled {
  background-color: #666;
  cursor: progress;
}

.download-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 15px;
}

.download-button.disabled{
  background-color: #666;
  cursor: progress;
}

/* Styles for the upload page */
/* ... (previous styles remain the same) ... */

/* Styles for the upload page */
.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.upload-container h1 {
  margin-bottom: 20px;
  font-size: 60px;

}

#alert-container {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.alert-box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--accent-color);
  padding: 15px 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px; /* or any other suitable width */
  font-size: 16px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-sizing: border-box; /* ensures padding is included in width */
  word-wrap: break-word; /* allows long words to break and wrap */
}

.alert-message {
  flex: 1;
  word-wrap: break-word; /* ensures text wraps inside the alert box */
}


.alert-box.show {
  opacity: 1;
  transform: translateY(0);
}

.close-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
}


.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.file-label {
  background-color: #f5f5f5;
  color: #333;
  border: 5px dotted #333;
  padding: 10px 0px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-radius: 20px;
  font-size: 50px;
  width: 45vw;
  text-align: center;
  transition: 1s;
  overflow: hidden;
}

.file-label:hover {
  background-color: #e0e0e0;
  transition: 0.5s;
}

#file-name {
  margin-bottom: 10px;
}

#upload-button {
  background-color: #afafaf;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-radius: 20px;
  font-size: 50px;
  width: 45vw;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 200px;
  height: 200px;
}

#upload-button.selected {
  background-color: #eda400;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-text {
  color: #222;
  font-size: 1.2em;
  text-align: center;

}

@media (max-width: 768px) {
  .upload-container {
    max-width: 90%;
    margin: 0 auto; 
  }

	.upload-container h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
  }

  .upload-container h1 {
    font-size: 2.1em;
  }

  #upload-button {
    font-size: 30px;
    width: 80vw;
  }

  .file-label {
    font-size: 30px;
    width: 80vw;
    border: 2px dotted #333;
  }

  .file-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-right: 0px;
    margin-bottom: -15px;
  }

  .logo-title {
    flex-direction: column;
    align-items: center;
  }

  .logo-title h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
  }

  #counter-text {
    font-size: 15px;
  }

  .qr-code img {
    max-width: 300px;
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .loader {
    width: 100px;
    height: 100px;
  }
}

.faq-banner {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.nav-link {
  color: #000;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2em;
}

.nav-link:hover {
  text-decoration: underline;
}

.faq-section {
  margin-top: 40px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h3 {
  font-size: 1.5em;
  color: #333;
}

.faq-item p {
  font-size: 1.2em;
  color: #666;
}
