@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

:root {
  --accent-color: #eda400;
  --accent-color-dark: #6f7d8c;
}


body {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  color: #333;
}

.buttons {
  display: flex;
}

button {
  background-color: #eda400;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-radius: 20px;
}

.upload-button {
  background-color: #eda400;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-radius: 20px;
}

.reset-form {
  display: inline;
}

.qr-code {
  text-align: center;
  margin-bottom: 40px;
  justify-content: center;
}

.qr-code img {
  max-width: 400px;
  margin: 10px 0;
  box-shadow: 0 2px 10px var(--accent-color-dark);
  border-radius: 20px;
  transition: 0.5s;
}

.qr-code img:hover {
  box-shadow: 0 2px 30px var(--accent-color-dark);
}

.qr-code-url {
  font-size: 16px;
  color: #666;
}


.uploaded-files {
  margin-top: 20px;
  margin-bottom: 40px;
}

.uploaded-files h2 {
  margin-bottom: 40px;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.file-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.file-container img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 2px 20px var(--accent-color);
  margin-bottom: 10px;
  transition: 0.5s;
}

.file-container img:hover {
  box-shadow: 0 2px 40px var(--accent-color);
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.download-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  white-space: nowrap;
  margin-top: 15px;
}

/* Styles for the upload page */
/* ... (previous styles remain the same) ... */

/* Styles for the upload page */
.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.upload-container h1 {
  margin-bottom: 20px;
  font-size: 60px;

}


.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.file-label {
  background-color: #eda400;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-radius: 20px;
  font-size: 50px;
}

#file-name {
  margin-bottom: 10px;
}

#upload-button {
  background-color: #eda400;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Bricolage Grotesque', sans-serif;
  border-radius: 20px;
  font-size: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 200px;
  height: 200px;
}

#upload-button.selected {
  background-color: #4CAF50;
}

@media (max-width: 768px) {
  .upload-container {
    max-width: 90%;
    margin: 0 auto; 
  }

	.upload-container h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
  }

  #upload-button {
    font-size: 20px;
    padding: 20px 25px;
  }

  .file-label {
    font-size: 30px;
    padding: 30px 40px;
  }

  .file-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo {
    width: 100px;
    height: 100px;
    margin-right: 0px;
    margin-bottom: -15px;
  }

  .logo-title {
    flex-direction: column;
    align-items: center;
  }

  .logo-title h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .qr-code img {
    max-width: 300px;
  }

  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .loader {
    width: 100px;
    height: 100px;
  }
}