<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FAQ - QR Pigeon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="icon" href="static/assets/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="qrpigeon" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo-title">
        <img src="/static/assets/logo.svg" alt="Logo" class="logo" />
        <div>
          <h1>QR Pigeon FAQ</h1>
        </div>
      </div>
      <div class="buttons">
        <a style="margin-top: 5%;" href="/"><button>🏠 Home</button></a>
      </div>
    </header>
    <main>
      <section class="faq-section">
        <img src="/static/assets/faqbanneranimated.gif" alt="FAQ Banner" class="faq-banner" />
        <div class="faq-item">
          <h3>What is the purpose of this site?</h3>
          <p>QR Pigeon allows you to easily upload and share files using a QR code. It's designed for quick and convenient file transfers.</p>
        </div>
        <div class="faq-item">
          <h3>What are the file size restrictions?</h3>
          <p>Each file must be no larger than 16MB.</p>
        </div>
        <div class="faq-item">
          <h3>What file types are allowed?</h3>
          <p>We currently support image files (JPEG, PNG, GIF, HEIC, WEBP, SVG) and PDF documents.</p>
        </div>
        <div class="faq-item">
          <h3>How do the refresh and reset session buttons work?</h3>
          <p>The <b>Refresh</b> button reloads the page to show the latest uploaded files. The <b>Reset Session</b> button clears all uploaded files and resets the session to get a new one assigned (a.k.a hire a new pigeon 😅).</p>
        </div>
        <div class="faq-item">
          <h3>How do sessions work?</h3>
          <p>Sessions are managed by unique IDs assigned via cookies. Files are automatically deleted if they are older than 5 minutes to ensure privacy and security.</p>
        </div>
        <div class="faq-item">
          <h3>What happens to files after the session ends?</h3>
          <p>All files are automatically deleted after they are 5 minutes old, even if you are currently on an active session. We don't and will never keep any of your files 😁</p>
        </div>
        <div class="faq-item">
          <h3>Contact Information</h3>
          <p>If you find any bugs or have feature suggestions, please contact us at <a href="mailto:edward.gaibor001@umb.edu">edward.gaibor001@umb.edu</a> or <a href="mailto:ayden.diel001@umb.edu">ayden.diel001@umb.edu</a>, we are currently working on a discord server, stay tuned!</p>
        </div>
      </section>
    </main>
    <footer>
      <p id="footer-text">
        Site by <a href="https://edwardgaibor.me/" style="color: #000">Edward Gaibor</a> and <a href="https://www.aydendiel.dev/" style="color: #000">Ayden Diel</a> | <a href="https://www.buymeacoffee.com/qrpigeon" style="color: #000">Buy us a coffee!</a> ☕
      </p>
    </footer>
  </div>
</body>
</html>
