<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R0Y82SGFBG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-R0Y82SGFBG', {
      client_storage: 'none'
    });
  </script>
  <meta charset="UTF-8">
  <meta name="description" content="Transfer files anonymously and instantly from mobile to desktop using QR codes!">
  <title>QR Pigeon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="icon" href="static/assets/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="qrpigeon" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  <script src="static/js/confetti.js"></script>
</head>
<body>
  <div id="alert-container"></div>
  <div class="container">
    <header>
      <div class="logo-title">
        <img src="/static/assets/logo.svg" alt="Logo" class="logo">
        <div>
          <h1>Transfer files fast</h1>
          <p id="counter-text" class="header-counter-text">:)</p>
        </div>
      </div>
      <div class="buttons">
        <form action="/reset" method="get" class="reset-form">
          <button type="submit">🪦 Reset Session</button>
        </form>
        <a href="/faq"><button>❔ FAQ</button></a>
      </div>
    </header>
    <main>
        <section class="qr-code">
          <p>Scan the QR code to upload:</p>
          <img src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code" />
          <p class="qr-code-url">
            QR Code URL:
            <a target="_blank" style="color: #000" href="{{ qr_code_url }}"
              >here.</a
            >
          </p>
        </section>
        <section class="uploaded-files">
          <h2>Uploaded Files:</h2>
          <div id="file-grid" class="file-grid"></div>
          <p id="no-files-yet">No files uploaded yet.</p>
        </section>
      </main>
      <footer>
        <p id="footer-text">
          Site by
          <a style="color: #000" href="https://edwardgaibor.me/"
            >Edward Gaibor</a
          >
          and
          <a style="color: #000" href="https://www.aydendiel.dev/"
            >Ayden Diel</a
          >
          |
          <a style="color: #000" href="https://www.buymeacoffee.com/qrpigeon"
            >Buy us a coffee!</a
          >☕|

          <a href="mailto:aydendiel@gmail.com " style="color: #000">
            🐞 Report Bug
          </a>
        </p>
      </footer>
    </div>
    <script>
      function getCookie(name) {
        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match) {
          return match[2];
        } else {
          return null;
        }
      }
      window.addEventListener('load', function () {
        const currentImages = new Set();

        const sessionID = getCookie('user_id');
        if (sessionID === null) {
          showAlert('Invalid cookies, please click "Reset Session"');
          return;
        }

        // Poll endpoint for new uploads
        const pollingDelay = 3000;
        const pollingTimeoutMinutes = 10;

        const pollCallback = async () => {
          const response = await fetch(`./session_links?session_id=${sessionID}`);
          const responseJSON = await response.json();
          const responseLinks = responseJSON.images;
          let isFirstUpload = false;
          if (responseLinks.length > 0) {
            const noFilesYetText = document.getElementById('no-files-yet');
            if (noFilesYetText) {
              noFilesYetText.remove();
            }
            // If there's a new element and it's the first element, show confetti and auto-scroll
            if (currentImages.size === 0) {
              isFirstUpload = true;
            }
          }
          for (const imageURL of responseLinks) {
            if (!currentImages.has(imageURL)) {
              currentImages.add(imageURL);
              const imageElementString = `
                ${
                imageURL.endsWith('.pdf') ?
                    `
                    <a class="pdf-parent-anchor" href="#" onclick="openPDF('${imageURL}')"><embed src="${imageURL}" class="uploaded-image"></a>
                  ` :
                  `
                <a target="_blank" rel="noopener noreferrer" class="img-parent-anchor" href="${imageURL}">
                  <img
                    src="${imageURL}"
                    class="uploaded-image"
                    alt="Uploaded File"
                  />
                </a>
                  `
                }
                <div class="button-container">
                  <a href="${imageURL}" download class="download-button"
                    >🛬 Download</a
                  >
                  ${
                  imageURL.endsWith('.pdf') ?
                      `
                        <a
                          target = "_blank"
                          href="${imageURL}"
                          class="open-pdf-button"
                        >
                          📄 Open PDF
                        </a>
                    ` :
                      `
                        <button
                          onclick="copyImageToClipboard(this)"
                          data-img-src="${imageURL}"
                          class="copy-button"
                        >
                          📋 Copy
                        </button>
                    `
                  }
                </div>
                `;
              const fileContainerElement = document.createElement('div');
              fileContainerElement.classList.add('file-container');
              fileContainerElement.innerHTML = imageElementString;

              document.getElementById('file-grid').
                appendChild(fileContainerElement);

              let imageElement = null;
              let embedElement = null;
              for (let child of fileContainerElement.children) {
                if (child.classList.contains('img-parent-anchor')) {
                  imageElement = child.children[0];
                } else if (child.classList.contains('pdf-parent-anchor')) {
                  embedElement = child.children[0];
                }
              }

              if (isFirstUpload) {
                const scrollToBottom = () => {
                  window.scrollTo({top: document.body.scrollHeight, behavior: 'smooth'});
                }
                if (imageElement) {
                  imageElement.onload = scrollToBottom;
                } else if (embedElement) {
                  embedElement.onload = scrollToBottom;
                }
              }

              confetti();
              updateCounter();
              
            }
          }
          // Add/remove placeholders for loading images
          const currentLoadingElements = document.querySelectorAll('.file-placeholder');
          if (currentLoadingElements.length < responseJSON.loading_count) {
            const placeholderInnerHTML = `
              <img
                src="/static/assets/loader.gif"
                class="uploaded-image"
                alt="Uploaded File"
              />
              <div class="button-container">
                <a href="#" download class="download-button disabled"
                  >🛬 Download</a
                >
                <button
                  disabled
                  class="copy-button disabled"
                >
                  📋 Copy
                </button>
              </div>
              `;
            for (let i = 0; i < responseJSON.loading_count - currentLoadingElements.length; i++) {
              const placeholderElement = document.createElement('div');
              placeholderElement.classList.add('file-container');
              placeholderElement.classList.add('file-placeholder');
              placeholderElement.innerHTML = placeholderInnerHTML;

              document.getElementById('file-grid').
                appendChild(placeholderElement);
            }
          } else if (currentLoadingElements.length > responseJSON.loading_count) {
            for (let i = 0; i < currentLoadingElements.length - responseJSON.loading_count; i++) {
              currentLoadingElements[currentLoadingElements.length - 1].remove();
            }
          }
        }

        pollCallback(); // run once and then run again every `pollingDelay` milliseconds
        const intervalID = setInterval(pollCallback, pollingDelay);

        // Convert timeout to milliseconds
        const pollingTimeout = pollingTimeoutMinutes * 1000 * 60;
        setTimeout(() => {
          clearInterval(intervalID);
          showAlert('Session timeout, please refresh or click "Reset Session"');
        }, pollingTimeout);
      });

      document.addEventListener("click", function (event) {
        var infoBox = document.getElementById("infoBox");
        var infoButton = document.querySelector(".info-button");
        var targetElement = event.target;

        if (
          !infoBox.contains(targetElement) &&
          !infoButton.contains(targetElement)
        ) {
          infoBox.style.display = "none";
        }
      });

      async function convertImageToPNG(blob) {
        return new Promise((resolve, reject) => {
          const img = new Image();
          img.onload = function () {
            const canvas = document.createElement("canvas");
            canvas.width = img.width;
            canvas.height = img.height;
            const ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);
            canvas.toBlob(resolve, "image/png");
          };
          img.onerror = reject;
          img.src = URL.createObjectURL(blob);
        });
      }

      async function copyImageToClipboard(buttonElement) {
        showAlert("Copying image 🕊️...");
        try {
          const imgSrc = buttonElement.getAttribute("data-img-src");
          const response = await fetch(imgSrc);
          let blob = await response.blob();
          // Convert to PNG if the original image is not in a supported format
          if (blob.type !== "image/png") {
            blob = await convertImageToPNG(blob);
          }
          await navigator.clipboard.write([
            new ClipboardItem({
              "image/png": blob,
            }),
          ]);
          showAlert("Image copied to clipboard!");
        } catch (error) {
          console.error("Error copying image to clipboard", error);
          showAlert("Failed to copy image to clipboard.");
        }
      }


      // Function to fetch and update the counter value
      function updateCounter() {
        fetch('/counter')
          .then(response => response.text())
          .then(count => {
            let counterHTML =  `${count} Pigeons Have Flown So Far <i class="fa fa-wind"></i>`
            if (count === "1") {
              counterHTML = `${count} Pigeon Has Flown So Far <i class="fa fa-wind"></i>`
            }

            document.getElementById('counter-text').innerHTML = counterHTML;
            
          });
      }

      // Call the updateCounter function when the page loads
      window.addEventListener('load', updateCounter);


      function showAlert(message) {
        const alertContainer = document.getElementById('alert-container');
        const alertBox = document.createElement('div');
        alertBox.classList.add('alert-box');
        alertBox.innerHTML = `
          <span class="alert-message">${message}</span>
          <span class="close-icon">&times;</span>
        `;

        alertContainer.appendChild(alertBox);

        setTimeout(() => {
          alertBox.classList.add('show');
        }, 100);

        const closeIcon = alertBox.querySelector('.close-icon');
        const closeCallback = () => {
          alertBox.classList.remove('show');
          setTimeout(() => {
            alertBox.remove();
          }, 300);
        };
        closeIcon.addEventListener('click', closeCallback);
        return closeCallback;
      }

      function openPDF(url) {
        console.log(url)
        window.open(url, '_blank').focus();
      }
    </script>
  </body>
</html>
