<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>QR Pigeon</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="static/assets/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="qrpigeon" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="logo-title">
          <img src="/static/assets/logo.svg" alt="Logo" class="logo" />
          <div>
            <h1>Upload and Share Files</h1>
            <p id="counter-text" class="header-counter-text">:)</p>
          </div>
        </div>
        <div class="buttons">
          <button onclick="window.location.reload();">🕊️ Refresh</button>
          <form action="/reset" method="get" class="reset-form">
            <button type="submit">🪦 Reset Session</button>
          </form>
        </div>
      </header>
      <main>
        <div class="info-button">
          <i class="fa fa-info"></i>
        </div>
        <div class="info-box" id="infoBox">
          <h3>Instructions</h3>
          <p>1. Scan the QR code with your mobile device.</p>
          <p>2. On the upload page, select an image to upload.</p>
          <p>3. The uploaded image will appear on the main page.</p>
          <p>4. Refresh the page to view the uploaded images.</p>
          <p>
            5. Click the "Reset Session" button to clear all uploaded images.
          </p>
        </div>
        <section class="qr-code">
          <p>Scan the QR code to upload:</p>
          <img src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code" />
          <p class="qr-code-url">
            QR Code URL:
            <a target="_blank" style="color: #000" href="{{ qr_code_url }}"
              >here.</a
            >
          </p>
            <p>Use this code to connect to other devices: {{ unique_code }}</p>
        </section>
        <form id="uniqueCodeForm" action="/search_session" method="POST">
            <p>Enter the unique code if you don't want to scan : </p>
            <input type="text" name="code" id="uniqueCodeInput" required>
            <button type="submit">Submit</button>
        </form>
      <!-- Add a placeholder div for the error message -->
        <!-- Add a placeholder div for the error message -->
        <div id="errorMessage" style="color: red; display: none;"></div>
        <section class="uploaded-files">
          <h2>Uploaded Files:</h2>
          {% if uploaded_files_urls %}
          <div id="file-grid" class="file-grid">
            {% for file_url in uploaded_files_urls %}
            <div class="file-container">
              <img
                src="{{ file_url }}"
                class="uploaded-image"
                alt="Uploaded File"
              />
              <div class="button-container">
                <a href="{{ file_url }}" download class="download-button"
                  >🛬 Download</a
                >
                <button
                  onclick="copyImageToClipboard(this)"
                  data-img-src="{{ file_url }}"
                  class="copy-button"
                >
                  📋 Copy
                </button>
              </div>
            </div>
            {% endfor %}
          </div>
          {% else %}
          <div id="file-grid" class="file-grid"></div>
          <p id="no-files-yet">No files uploaded yet.</p>
          {% endif %}
        </section>
      </main>
      <footer>
        <p id="footer-text">
          Site by
          <a style="color: #000" href="https://edwardgaibor.me/"
            >Edward Gaibor</a
          >
          and
          <a style="color: #000" href="https://www.aydendiel.dev/"
            >Ayden Diel</a
          >
          |
          <a style="color: #000" href="https://www.buymeacoffee.com/qrpigeon"
            >Buy us a coffee!</a
          >☕
        </p>
      </footer>
    </div>
    <script>
      window.addEventListener('load', function () {
        const currentImages = new Set();

        // Add pre-loaded images to currImages set
        const fileGrid = document.getElementById('file-grid');
        for(const imageContainer of fileGrid.children) {
          const imageElement = imageContainer.children[0];
          currentImages.add(imageElement.src);
        }

        const splitCookie = document.cookie.split('=')
        if (splitCookie.length < 2) {
          alert('Invalid cookies, please click "Reset Session"');
          return;
        }
        const sessionID = splitCookie[1];

        // Poll endpoint for new uploads
        const pollingDelay = 3000;
        const pollingTimeoutMinutes = 10;

        const intervalID = setInterval( async () => {
          const response = await fetch(`./session_links?session_id=${sessionID}`);
          const responseJSON = await response.json();
          console.log(responseJSON);
          if (responseJSON.length > 0) {
            const noFilesYetText = document.getElementById('no-files-yet');
            if (noFilesYetText) {
              noFilesYetText.remove();
            }
          }
          for (const imageURL of responseJSON) {
            if (!currentImages.has(imageURL)) {
              currentImages.add(imageURL);

              const imageElementString = `
                <img
                  src="${imageURL}"
                  class="uploaded-image"
                  alt="Uploaded File"
                />
                <div class="button-container">
                  <a href="${imageURL}" download class="download-button"
                    >🛬 Download</a
                  >
                  <button
                    onclick="copyImageToClipboard(this)"
                    data-img-src="${imageURL}"
                    class="copy-button"
                  >
                    📋 Copy
                  </button>
                </div>
                `;
              const fileContainerElement = document.createElement('div');
              fileContainerElement.classList.add('file-container');
              fileContainerElement.innerHTML = imageElementString;

              document.getElementById('file-grid').
                appendChild(fileContainerElement);

              updateCounter();

            }
          }
        }, pollingDelay);

        // Convert timeout to milliseconds
        const pollingTimeout = pollingTimeoutMinutes * 1000 * 60;
        setTimeout(() => {
          clearInterval(intervalID);
          alert('Session timeout, please refresh or click "Reset Session"');
        }, pollingTimeout);
      });

      document
        .querySelector(".info-button")
        .addEventListener("click", function (event) {
          event.stopPropagation();
          var infoBox = document.getElementById("infoBox");
          infoBox.style.display =
            infoBox.style.display === "none" ? "block" : "none";
        });

      document.addEventListener("click", function (event) {
        var infoBox = document.getElementById("infoBox");
        var infoButton = document.querySelector(".info-button");
        var targetElement = event.target;

        if (
          !infoBox.contains(targetElement) &&
          !infoButton.contains(targetElement)
        ) {
          infoBox.style.display = "none";
        }
      });

      async function convertImageToPNG(blob) {
        return new Promise((resolve, reject) => {
          const img = new Image();
          img.onload = function () {
            const canvas = document.createElement("canvas");
            canvas.width = img.width;
            canvas.height = img.height;
            const ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0);
            canvas.toBlob(resolve, "image/png");
          };
          img.onerror = reject;
          img.src = URL.createObjectURL(blob);
        });
      }

      async function copyImageToClipboard(buttonElement) {
        try {
          const imgSrc = buttonElement.getAttribute("data-img-src");
          const response = await fetch(imgSrc);
          let blob = await response.blob();
          // Convert to PNG if the original image is not in a supported format
          if (blob.type !== "image/png") {
            blob = await convertImageToPNG(blob);
          }
          await navigator.clipboard.write([
            new ClipboardItem({
              "image/png": blob,
            }),
          ]);
          alert("Image copied to clipboard!");
        } catch (error) {
          console.error("Error copying image to clipboard", error);
          alert("Failed to copy image to clipboard.");
        }
      }


      // Function to fetch and update the counter value
      function updateCounter() {
        fetch('/counter')
          .then(response => response.text())
          .then(count => {
            let counterHTML =  `${count} Pigeons Have Flown So Far <i class="fa fa-wind"></i>`
            if (count === "1") {
              counterHTML = `${count} Pigeon Has Flown So Far <i class="fa fa-wind"></i>`
            }

            document.getElementById('counter-text').innerHTML = counterHTML;

          });
      }

      // Call the updateCounter function when the page loads
      window.addEventListener('load', updateCounter);


    </script>
  </body>
</html>
