<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload and Share Files</title>
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-title">
                <img src="/static/assets/logo.svg" alt="Logo" class="logo">
                <h1>Upload and Share Files</h1>
            </div>
            <div class="buttons">
                <button onclick="window.location.reload();">🕊️ Refresh</button>
                <form action="/reset" method="get" class="reset-form">
                    <button type="submit">🪦 Reset Session</button>
                </form>
            </div>
        </header>
        <main>
            <section class="qr-code">
                <p>Scan the QR code to upload:</p>
                <img src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code">
                <p class="qr-code-url">QR Code URL: <a target="_blank" href="{{ qr_code_url }}">here.</a></p>
            </section>
            <section class="uploaded-files">
                <h2>Uploaded Files:</h2>
                {% if uploaded_files_urls %}
                <div class="file-grid">
                    {% for file_url in uploaded_files_urls %}
                    <div class="file-container">
                        <img src="{{ file_url }}" alt="Uploaded File">
                        <a href="{{ file_url }}" download class="download-button">🛬 Download</a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>No files uploaded yet.</p>
                {% endif %}
            </section>
        </main>
    </div>
</body>
</html>