<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" href="static/assets/favicon.png">
</head>
<body>
    <div class="upload-container">
        <img src="static/assets/logo.svg" alt="Logo" class="logo">
        <h1 class="upload-title">Upload your file</h1>
        <form action="" method="post" enctype="multipart/form-data" class="upload-form">
            <label for="file-input" class="file-label">✉️ Choose a file</label>
            <input type="file" name="file" id="file-input" onchange="handleFileSelect(event)">
            <p id="file-name"></p>
            <input type="submit" value="🪽 Upload" id="upload-button" class="button">
        </form>
    </div>

    <script>
        function handleFileSelect(event) {
            const fileInput = event.target;
            const fileName = fileInput.files[0].name;
            const fileNameElement = document.getElementById('file-name');
            const uploadButton = document.getElementById('upload-button');

            fileNameElement.textContent = fileName;
            uploadButton.classList.add('selected');
        }
    </script>
</body>
</html>