<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="icon" href="static/assets/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="qrpigeon" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </head>
  <body>
    <div class="info-button">
      <i class="fa fa-info"></i>
    </div>
    <div class="info-box" id="infoBox">
      <h3>Instructions</h3>
      <p>1. Scan the QR code with your mobile device.</p>
      <p>2. On the upload page, select an image to upload.</p>
      <p>3. The uploaded image will appear on the main page.</p>
      <p>4. Refresh the page to view the uploaded images.</p>
      <p>5. Click the "Reset Session" button to clear all uploaded images.</p>
    </div>
    <div class="upload-container">
      <img src="static/assets/logo.svg" alt="Logo" class="logo" />
      <h1 class="upload-title">Upload or Take a Picture</h1>
      <form
        action=""
        method="post"
        enctype="multipart/form-data"
        class="upload-form"
      >
        <label for="file-input" class="file-label">✉️ Choose a file</label>
        <input
          type="file"
          name="file"
          id="file-input"
          onchange="handleFileSelect(event)"
        />
        <p id="file-name"></p>
        <input
          type="submit"
          value="🪽 Upload"
          id="upload-button"
          class="button"
        />
      </form>
    </div>

    <div id="overlay" class="overlay">
      <img src="static/assets/loader.gif" alt="Loading..." class="loader" />
    </div>

    <script>
      document
        .querySelector(".info-button")
        .addEventListener("click", function (event) {
          event.stopPropagation();
          var infoBox = document.getElementById("infoBox");
          infoBox.style.display =
            infoBox.style.display === "none" ? "block" : "none";
        });

      document.addEventListener("click", function (event) {
        var infoBox = document.getElementById("infoBox");
        var infoButton = document.querySelector(".info-button");
        var targetElement = event.target;

        if (
          !infoBox.contains(targetElement) &&
          !infoButton.contains(targetElement)
        ) {
          infoBox.style.display = "none";
        }
      });

      window.addEventListener("load", function () {
        const overlay = document.getElementById("overlay");
        overlay.style.display = "flex";
        setTimeout(function () {
          overlay.style.display = "none";
        }, 1000);
      });

      function handleFileSelect(event) {
        const fileInput = event.target;
        const fileName = fileInput.files[0].name;
        const uploadButton = document.getElementById("upload-button");
        const selectImageButton = document.querySelector(".file-label");
        selectImageButton.style = "border-style: solid;"
        selectImageButton.textContent = fileName;
        
        uploadButton.classList.add("selected");

      }
      {% if error %}
      window.onload = function(){
        showAlert("{{ error }}")
      };
      {% endif %}


      function showAlert(message) {
        const alertContainer = document.getElementById('alert-container');
        const alertBox = document.createElement('div');
        alertBox.classList.add('alert-box');
        alertBox.innerHTML = `
          <span>${message}</span>
          <span class="close-icon">&times;</span>
        `;

        alertContainer.appendChild(alertBox);

        setTimeout(() => {
          alertBox.classList.add('show');
        }, 100);

        const closeIcon = alertBox.querySelector('.close-icon');
        closeIcon.addEventListener('click', () => {
          alertBox.classList.remove('show');
          setTimeout(() => {
            alertBox.remove();
          }, 300);
        });
      }
    </script>
  </body>
</html>
